#aside-content{
 height:2680px;
}

/* Content inner */
#content-inner{
 height:2769px;
}

/* Image */
#recent-posts a img{
 border-style:solid;
 border-color:rgba(245,213,213,0.99);
 border-width:4px;
}

/* Card announcement */
#aside-content .card-announcement{
 border-color:#ecd4d4;
 border-width:0px;
}

