/* Image */
#recent-posts a img{
 border-style:solid;
 border-color:rgba(245,213,213,0.99);
 border-width:4px;
}

/* Card announcement */
#aside-content .card-announcement{
 border-color:#ecd4d4;
 border-width:0px;
}
/* Font Icon */
#recent-posts .post-meta-date i{
 color:#c0392b;
}

/* Font Icon */
#recent-posts .article-meta .fa-inbox{
 color:#ff5722;
}

/* Font Icon */
#recent-posts .article-meta .fa-tag{
 color:#00bcd4;
}

/* Font Icon */
#recent-posts .article-meta .fa-comments{
 color:#009688;
}
/* Font Icon */
#menus li .fa-archive{
 color:#1abc9c;
}

/* Font Icon */
#menus li .fa-folder-open{
 color:#1abc9c;
}

/* Font Icon */
#menus li .fa-tags{
 color:#1abc9c;
}

/* Font Icon */
#menus .site-page .fa-graduation-cap{
 color:#fca5a5 !important;
}

/* Font Icon */
#menus .site-page .fa-coffee{
 color:#fca5a5 !important;
}

/* Font Icon */
#menus .site-page .fa-home{
 color:#fca5a5 !important;
}

/* Font Icon */
#search-button .search i{
 color:#fca5a5;
}

/* Font Icon */
#menus .site-page .fa-heart{
 color:#fca5a5 !important;
}

/* Font Icon */
#menus .menus_item .fa-fw{
 color:#fca5a5;
}

/* Font Icon */
#menus .site-page .fa-link{
 color:#fca5a5;
}

/* Font Icon */
#menus .site-page .fa-paper-plane{
 color:#fca5a5;
}
/* Font Icon */
#menus li .fa-comments{
 color:#fca5a5;
}

/* Font Icon */
#menus li .fa-images{
 color:#fca5a5;
}

/* Font Icon */
#menus li .fa-music{
 color:#fca5a5;
}

/* Font Icon */
#menus li .fa-video{
 color:#fca5a5;
}
