/* Font Icon */
#menus .site-page .fa-coffee{
 color:#ee6295 !important;
}

/* Font Icon */
#menus li .fa-comments{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .site-page .fa-graduation-cap{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .site-page .fa-home{
 color:#ee6295 !important;
}

/* Font Icon */
#search-button .search i{
 color:#ee6295;
}

/* Font Icon */
#menus .site-page .fa-link{
 color:#ee6295;
}

/* Font Icon */
#menus .site-page .fa-paper-plane{
 color:#ee6295;
}
/* Font Icon */
#menus .site-page .fa-heart{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .menus_item .fa-fw{
 color:#ee6295;
}

/* Font Icon */
#menus li .fa-images{
 color:#ee6295;
}

/* Font Icon */
#menus li .fa-folder-open{
 color:#ee6295;
}
/* Font Icon */
#recent-posts .post-meta-date i{
 color:#ea4335;
}

/* Font Icon */
#recent-posts .article-meta .fa-inbox{
 color:#fbbc05;
}

/* Font Icon */
#recent-posts .article-meta .fa-tag{
 color:#34a853;
}

/* Font Icon */
#recent-posts .article-meta .fa-comments{
 color:#4285f4;
}

/* Content inner */
#content-inner{
 transform:translatex(0px) translatey(0px);
}

/* Recent post item */
#recent-posts .recent-post-item{
 background-color:rgba(255,255,255,0.17);
}

/* Card info */
#aside-content .card-info{
 background-color:rgba(255,255,255,0.17);
}

/* Card announcement */
#aside-content .card-announcement{
 background-color:rgba(255,255,255,0.17);
}

/* Card recent post */
#aside-content .card-recent-post{
 background-color:rgba(255,255,255,0.17);
}

/* Card newest comments */
#card-newest-comments{
 background-color:rgba(255,255,255,0.17) !important;
}

/* Card categories */
#aside-content .card-categories{
 background-color:rgba(255,255,255,0.17);
}

/* Card tags */
#aside-content .card-tags{
 background-color:rgba(255,255,255,0.17);
}

/* Card archives */
#aside-content .card-archives{
 background-color:rgba(255,255,255,0.17);
}

/* Card webinfo */
#aside-content .card-webinfo{
 background-color:rgba(255,255,255,0.17);
}
