/* Font Icon */
#menus .site-page .fa-coffee{
 color:#ee6295 !important;
}

/* Font Icon */
#menus li .fa-comments{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .site-page .fa-graduation-cap{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .site-page .fa-home{
 color:#ee6295 !important;
}

/* Font Icon */
#search-button .search i{
 color:#ee6295;
}

/* Font Icon */
#menus .site-page .fa-link{
 color:#ee6295;
}

/* Font Icon */
#menus .site-page .fa-paper-plane{
 color:#ee6295;
}
/* Font Icon */
#menus .site-page .fa-heart{
 color:#ee6295 !important;
}

/* Font Icon */
#menus .menus_item .fa-fw{
 color:#ee6295;
}

/* Font Icon */
#menus li .fa-images{
 color:#ee6295;
}

/* Font Icon */
#menus li .fa-folder-open{
 color:#ee6295;
}
/* Font Icon */
#recent-posts .post-meta-date i{
 color:#ea4335;
}

/* Font Icon */
#recent-posts .article-meta .fa-inbox{
 color:#fbbc05;
}

/* Font Icon */
#recent-posts .article-meta .fa-tag{
 color:#34a853;
}

/* Font Icon */
#recent-posts .article-meta .fa-comments{
 color:#4285f4;
}
/* Image */
#recent-posts a img{
 border-style:solid;
 border-color:#f5bcbc;
}
/* Aside content */
#aside-content{
 height:2680px;
}
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Content inner */
#content-inner{
 font-family:'IBM Plex Mono', monospace;
}
/* Post */
#post{
 font-family:'IBM Plex Mono', monospace;
}